/* Import Font Yang Dibutuhkan */
/* Popins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");

/* Muli Black Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Black.ttf) format("truetype");
  font-weight: bolder;
}

/* Muli Bold Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Bold.ttf) format("truetype");
  font-weight: bold;
}

/* Muli Regular Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Regular.ttf) format("truetype");
}

/* Muli Light Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Light.ttf) format("truetype");
  font-weight: lighter;
}

/* Global Break Point */

/* Penggunaan font keseluruh area body */
body {
  font-family: "Muli", Roboto;
  color: #19345e;
}

/* Utility */
/* Custom Button Agar Sesuai Prototype */
.myButton {
  font-family: "Muli", Poppins, sans-serif;
  background-color: #f47522;
  border-radius: 28px;
  border-color: #f47522;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.myButton:hover {
  background-color: #ffffff;
  color: #f47522;
}

/* Line Kiri Kanan Judul Heading */
.line hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f47522;
  margin: 1em 0;
  padding: 0;
  opacity: 1;
}
/* Akhir Utility */

/* Global Breakpoint */
/* Navbar Section */
/* Pengaturan Ukuran Logo Agar Tidak Terlalu Besar */
.navbar-brand img {
  width: 110px;
  height: 59px;
  max-width: 100%;
}

/* Override Navbar Warna Text dari Default Bootstrap */
.color-nav {
  color: #19345e;
  text-decoration: none;
  font-weight: bold;
}

/* Pemberian Jarak Antar Nav Item */
.nav-item {
  margin: 1vw;
}

/* Pemberian Style Ketika Nav Item dihover */
.color-nav:hover {
  color: #f47522;
  text-decoration: none;
}
/* Pewarnaan Nav Item Yang Aktif */
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #f47522;
}
/* Akhir Navbar */

/* Contact Bocy Section */
.popins {
  font-family: "Poppins", Muli, sans-serif;
}
.phone {
  background-image: url("../assets/img/phone.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.email {
  background-image: url("../assets/img/envelope.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.website {
  background-image: url("../assets/img/browser.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.fb {
  background-image: url("../assets/img/facebook.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.tw {
  background-image: url("../assets/img/twitter.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.ig {
  background-image: url("../assets/img/instagram.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.in {
  background-image: url("../assets/img/linkedin.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.indent {
  text-indent: 15px;
}

.required::after {
  content: " *";
  color: red;
}

.send::before {
  content: "";
  background-image: url(../assets/img/send-mail.png);
  background-size: cover;
  display: inline-block;
  margin-right: 8px;
  height: 1.2rem;
  width: 1.2rem;
}

.send:hover::before {
  background-image: url(../assets/img/send-mail-hover.png);
  background-size: cover;
  display: inline-block;
  margin-right: 8px;
  height: 1.2rem;
  width: 1.2rem;
}

.form-control:focus {
  border-color: #f47522;
  box-shadow: inset 0 1px 1px rgba(244, 117, 34, 0.4), 0 0 5px rgba(244, 117, 34, 0.4);
}
/* Akhir Contact Body Section */

/* footer */
.footer {
  background-color: #19345e;
}

.footer-logo img {
  width: 110px;
  height: 57px;
}

.social-icons img {
  display: inline-block;
  margin: 0px 3px;
  width: 20px;
  height: 20px;
}

.social-icons p {
  margin: 0;
}

.bdr-btm {
  border-bottom: 1px dashed #19345e;
  opacity: 0.5;
  width: 60%;
  display: block;
  margin: auto auto;
}
/* Akhir Footer */
/* Akhir GLobal Breakpoint */ ;
