/* Import Font Yang Dibutuhkan */
/* Popins Regular */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins&display=swap");

/* Muli Bold Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Bold.ttf) format("truetype");
  font-weight: bold;
}

/* Muli Regular Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Regular.ttf) format("truetype");
}

/* Muli Light Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Light.ttf) format("truetype");
  font-weight: lighter;
}

/* Muli Black Ver */
/* @font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Black.ttf) format("truetype");
  font-weight: bolder;
} */

/* Akhir Import Font */

/* Penggunaan font keseluruh area body */
body {
  font-family: "Muli", Roboto;
  color: #19345e;
}

/* Pengaturan Ukuran Logo Agar Tidak Terlalu Besar */
.navbar-brand img {
  width: 110px;
  height: 59px;
  max-width: 100%;
}

/* Override Navbar Warna Text dari Default Bootstrap */
.color-nav {
  color: #19345e;
  text-decoration: none;
  font-weight: bold;
}

/* Pemberian Jarak Antar Nav Item */
.nav-item {
  margin: 1vw;
}

/* Pemberian Style Ketika Nav Item dihover */
.color-nav:hover {
  color: #f47522;
  text-decoration: none;
}
/* Pewarnaan Nav Item Yang Aktif */
.active {
  color: #f47522;
}
/* Custom Button Agar Sesuai Prototype */
.myButton {
  background-color: #ffffff;
  border-radius: 28px;
  border-color: #f47522;
  display: inline-block;
  cursor: pointer;
  color: #f47522;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  width: 15%;
}

.myButton:hover {
  background-color: #f47522;
  color: #ffffff;
}
