/* Import Font Yang Dibutuhkan */
/* Popins Regular */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins&display=swap");

/* Muli Black Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Black.ttf) format("truetype");
  font-weight: bolder;
}

/* Muli Bold Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Bold.ttf) format("truetype");
  font-weight: bold;
}

/* Muli Regular Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Regular.ttf) format("truetype");
}

/* Muli Light Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Light.ttf) format("truetype");
  font-weight: lighter;
}

/* Akhir Import Font */

/* global Breakpoint */

/* Penggunaan font keseluruh area body */
body {
  font-family: "Muli", Roboto;
  color: #19345e;
}

/* Utility */
/* Custom Button Agar Sesuai Prototype */
.myButton {
  background-color: #f47522;
  border-radius: 28px;
  border-color: #f47522;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.myButton:hover {
  background-color: #ffffff;
  color: #f47522;
}

.dashed span {
  width: 35px;
  height: 4px;
  margin: 21px 15px;
  background: #f47522;
  border-radius: 2px;
}

.border {
  width: 225px;
  height: 265px;
  margin-top: 18px;
  margin-left: -242px;
  position: absolute;
  z-index: 1;
  border-width: 10px !important;
  border-color: #f47522 !important;
  border-radius: 10px;
}

.border2 {
  width: 225px;
  height: 265px;
  margin-top: 18px;
  margin-left: -242px;
  position: absolute;
  z-index: 1;
  border: solid;
  border-width: 10px !important;
  border-color: #19345e !important;
  border-radius: 10px;
}
/* Akhir Utility */

/* Navbar Custom */
/* Pengaturan Ukuran Logo Agar Tidak Terlalu Besar */
.navbar-brand img {
  width: 110px;
  height: 59px;
  max-width: 100%;
}

/* Override Navbar Warna Text dari Default Bootstrap */
.color-nav {
  color: #19345e;
  text-decoration: none;
  font-weight: bold;
}

/* Pemberian Jarak Antar Nav Item */
.nav-item {
  margin: 1vw;
}

/* Pemberian Style Ketika Nav Item dihover */
.color-nav:hover {
  color: #f47522;
  text-decoration: none;
}
/* Pewarnaan Nav Item Yang Aktif */
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #f47522;
}
/* Akhir Navbar Custom */

/* Jumbotron Header */
/* Customisasi Jumbotron/Hero Section Header */
.jumbotron {
  background-color: #edf6ff;
}

.orange-text {
  color: #f47522;
}

.sport-team::before {
  content: "";
  background-image: url(../assets/img/sport-team.png);
  background-size: cover;
  display: inline-block;
  margin-right: 8px;
  height: 1.2rem;
  width: 1.2rem;
}

.sport-team:hover::before {
  background-image: url(../assets/img/sport-team-hover.png);
  background-size: cover;
  display: inline-block;
  margin-right: 8px;
  height: 1.2rem;
  width: 1.2rem;
}

/* Akhir Jumbotron/Hero Section Header */

/* Customisasi Panel Service Exp */
.rounded-orange-bg {
  background-color: #f47522;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}
/* Akhir Panel Service Exp */

/* about Section */

/* About Jumbotron/Hero Section */

.bg-about {
  background-image: url("../assets/img/bg-people@2x.png");
  background-size: cover;
  height: 484px;
  width: 100%;
  position: relative;
}

.bg-about::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 52, 94, 0.5);
  position: absolute;
  bottom: 0;
}

.depan {
  z-index: 1;
  margin-top: 4rem;
}
/* Akhir About Jumbotron/Hero Section */

/* Team Section */
/* Team Header Section */
.ornament {
  width: 199.66px;
  height: 291.83px;
  position: absolute;
  margin-top: -140px;
  z-index: -1;
}

/* Team Section Body */
.roboto {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
.roboto p {
  margin: 0;
}

.team-section img {
  width: 225px;
  height: 265px;
}

.team-section .shadow-pic {
  box-shadow: 0 10px 10px #19345e8e;
}

.border-img-blue {
  border: 10px solid #19345e;
  border-radius: 5px;
  width: 225px;
  height: 265px;
  margin-top: -248px;
  margin-left: 35px;
}

.border-img {
  border: 10px solid #f47522;
  border-radius: 5px;
  width: 225px;
  height: 265px;
  margin-top: -248px;
  margin-left: 35px;
}

.check-now {
  font-family: "Muli", Roboto;
  font-weight: bold;
}

.check-now a {
  color: #19345e;
}

.check-now a::after {
  content: " ⟶";
}
/* Akhir Team Section */

/* BLog Section */
.hover-link a:hover {
  color: #f47522;
}

/* footer */
.footer {
  background-color: #19345e;
}

.footer-logo img {
  width: 110px;
  height: 57px;
}

.social-icons img {
  display: inline-block;
  margin: 0px 3px;
  width: 20px;
  height: 20px;
}

.social-icons p {
  margin: 0;
}
/* Akhir Footer */
/* Akhir Global Break Point */
