/* Import Font Yang Dibutuhkan */
/* Popins Regular */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins&display=swap");

/* Muli Black Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Black.ttf) format("truetype");
  font-weight: bolder;
}

/* Muli Bold Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Bold.ttf) format("truetype");
  font-weight: bold;
}

/* Muli Regular Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Regular.ttf) format("truetype");
}

/* Muli Light Ver */
@font-face {
  font-family: Muli;
  src: url(../assets/fonts/Muli-Light.ttf) format("truetype");
  font-weight: lighter;
}

/* Akhir Import Font */

/* Penggunaan font keseluruh area body */
body {
  font-family: "Muli", Roboto;
  color: #19345e;
  height: 3000px;
}

/* Pengaturan Ukuran Logo Agar Tidak Terlalu Besar */
.navbar-brand img {
  width: 110px;
  height: 59px;
  max-width: 100%;
}

/* Override Navbar Warna Text dari Default Bootstrap */
.color-nav {
  color: #19345e;
  text-decoration: none;
  font-weight: bold;
}

/* Pemberian Jarak Antar Nav Item */
.nav-item {
  margin: 1vw;
}

/* Pemberian Style Ketika Nav Item dihover */
.color-nav:hover {
  color: #f47522;
  text-decoration: none;
}
/* Pewarnaan Nav Item Yang Aktif */
.active {
  color: #f47522;
}
/* Custom Button Agar Sesuai Prototype */
.myButton {
  background-color: #ffffff;
  border-radius: 28px;
  border-color: #f47522;
  display: inline-block;
  cursor: pointer;
  color: #f47522;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  width: 15%;
}

.myButton:hover {
  background-color: #f47522;
  color: #ffffff;
}

/* Customisasi Jumbotron/Hero Section */
.jumbotron {
  background-color: #edf6ff;
}

.h1,
.h2,
.h6 {
  font-weight: bold;
}

.h2 {
  font-weight: bolder;
  font-size: 1.563rem;
}
.h1 {
  font-size: 2.813rem;
  font-family: Roboto, Muli;
}

.h6 {
  font-size: 1.063rem;
}
.orange-text {
  color: #f47522;
}

.sport-team {
  background-image: url(../assets/img/sport-team.png);
  background-size: cover;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
}

.myButton2 {
  background-color: #f47522;
  border-radius: 28px;
  border-color: #f47522;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  width: 50%;
}

.myButton2:hover {
  background-color: #ffffff;
  color: #f47522;
}

.sport-team:hover {
  background-image: url(../assets/img/sport-team-hover.png);
  background-size: cover;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
}

/* Customisasi Badge */
.rounded-orange-bg {
  background-color: #f47522;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
}

.inline-p p {
  display: block;
  margin-bottom: 0;
  margin-left: 5px;
}

/* about section custom */
.line {
  line-height: 100px;
}
